/*GENERAL*/
body
{
    font-family: 'Open sans' , sans-serif;
    font-size: 16px;
    /*color: #333;*/

}
h1, h2, h3, h4, h5, h6, ul, p
{
    margin: 0;
    font-family: inherit;
    line-height: 1.1;
    color: inherit;

}
p
{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-start: 0px;
}
/*Header*/
.navbar
{
    background: #171717;
    font-size: 12px;
    float: none;
    font-size: 14px;
    padding: 4px 0;

}
.top-nav
{
    background: #000;
    color: #919191;
    font-size: 14px;
    padding: 14px 0;
}
.container
{
    position: relative;
    width: 1200px;
    max-height: none !important;
    padding-right: 15px;
    padding-left: 15px;
    padding-right: auto;
    padding-left: auto;
}
*
{
    box-sizing: border-box;
}
div
{
    display: block;
}
.pull-left
{
    float: left !important;
}
.pull-right
{
     float: right !important;
}
.top-nav .btn-primary
{
    background: #286092;
}
.top-nav .btn
{
    font-size: 11px;
    padding: 8px 20px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    line-height: 16px;
}
.btn-tertiary
{
    background: #3275df;
    color: #fff;
}
.btn-secondary
{
    background: #3a3a3a;
    color: #fff;
}

.btn
{
    box-shadow: none;
    text-transform: uppercase;
    border-radius: 5px;
    outline: 0;
    border: 0;
    transition: all 200ms ease;
    letter-spacing: 0.05em;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
}
.container
{
    position: relative;
    width: 1200px;
    max-width: none !important;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.navbar-header
{
    float: left;
}
.navbar .logo img
{
    padding: 20px 0;
    height: 100px;
}
.img-responsive
{
    display: block;
    max-width: 100%;
}
img
{
    vertical-align: middle;
    border: 0;
}
.navbar-nav> li
{
    float: left;
}
.nav>li 
{
    position: relative;
    display: block;
}
.navbar .nav-item:not(:last-child) .nav-link
{
    margin-right: 15px !important;
}
.navbar .nav-item.active .nav-link
{
    background-color: transparent !important;
    position: relative;
}
.navbar .nav-link
{
    color: #fff !important;
    text-transform: uppercase;
    font-weight: 400 !important;
    padding: 0 !important;
}
#navbar
{
    float: right;
    position: relative;
    top: 65px;
    left: -38px;
}
.navbar-default
{
    background-color: #2b2b2b;
    border-color: #2b2b2b;
    border-radius: 0;
}

/* escorte au cameroun*/
.row
{
    margin-right: -15px;
    margin-left: -15px;
}
.col-xs-4 
{
    width: 33.33333333%;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9,.col-xs-10, .col-xs-11, .col-xs-12
{
    padding: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}
.page-heading .page-title
{
    font-family: 'Montserrat';
    color: #fff;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    padding: 12.5px 0;
    margin: 0;
}
.page-heading .date, .page-heading .views
{
    font-family: 'Montserrat';
    font-size: 14px;
    color: #fff;
    padding: 10px 0;
    text-align: right;
    font-weight: 400;
}
.page-heading
{
    background: #3275df;
    position: relative;
    top: -20px;
    z-index: 1;
}
.page-heading .black 
{
    padding: 8px 17.5px;
    font-size: 11px;
    font-family: 'Montserrat';
    font-weight: 400;
}
.btn-black
{
    background: #000;
    color: #fff;
    position: relative;
    right: 800px;
   top: 3.5px;
    border-radius: 0;
}
/*EDITE PROFILES !!! */

#edit-profile
{
    background: #ebebeb;
}
form {
    display: block;
    margin-top: 0em;
}

#edit-profile .steps {
    list-style: none;
    overflow: hidden;
    font-size: 14px;
    padding: 0;
    display: inline-block;
    border: 1px solid #fff;
    margin-bottom: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.container:before
{
    display: table;
    content: " ";
}
#edit-profile .steps li.active:before {
    border-left-color: #3275df !important;
}
#edit-profile .steps li:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid #e2e2e2;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}
/*#edit-profile .steps li.active {
    background: #3275df !important;
    color: #fff !important;
}*/
#edit-profile .steps li.active:before {
    border-left-color: #3275df !important;
}
#edit-profile .steps li.active:after {
    border-left-color: #3275df !important;
}
#edit-profile .steps li:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid #fff;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}
#edit-profile .steps li:nth-child(1) {
    width: 145.85px;
    padding-left: 26px;
}

#edit-profile .steps li {
    text-decoration: none;
    position: relative;
    padding: 10px 0 10px 46px;
    color: #000;
    float: left;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.user agent stylesheet
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
a, a:hover, a:focus, a:active:focus, button, button:hover, button:focus, button:active:focus {
    color: inherit;
    text-decoration: none;
    outline: none;
}
a {
    color: #337ab7;
    text-decoration: none;
}a {
    background-color: transparent;
}
#edit-profile .steps li:nth-child(1) {
    width: 145.85px;
    padding-left: 26px;
}
#edit-profile .steps li:nth-child(2) {
    width: 162.85px;
}
#edit-profile .steps li:nth-child(3) {
    width: 168px;
}
#edit-profile .steps li:nth-child(4) {
    width: 191px;
}
#edit-profile .steps li:nth-child(5) {
    width: 151px;
}
#edit-profile .steps li:nth-child(6) {
    width: 145.85px;
}
#edit-profile .steps li:nth-child(7) {
    width: 202.85px;
    padding-right: 25.85px;
}

#edit-profile .steps li:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid #e2e2e2;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#edit-profile .steps li.active:after {
    border-left-color: #3275df !important;
}
#edit-profile .steps li:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid #fff;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.row.row-17 {
    margin: -17px !important;
}
.row.row-17> [class*="col-"] {
    padding: 17px !important;
}
.col-xs-6 {
    width: 50%;
}
.row.row-17 {
    margin: -17px !important;
}
.row.row-17> [class*="col-"] {
    padding: 17px !important;
}
.col-xs-12 {
    width: 100%;
}
#edit-profile .box {
    background: #fff;
    padding: 42px 35px;
}
#edit-profile .box .heading {
    background: #3a3a3a;
    color: #fff;
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: 600;
    padding: 5.5px 20px;
    text-transform: uppercase;
    margin-bottom: 33px;
    
}
#edit-profile .box .heading span {
    text-transform: none;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    vertical-align: middle;
    float: right;
    line-height: 15px;
}

/* APROPOS DE MOI */

textarea {
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 0px 1px 0px;
}
.tinymce{
    visibility: inherit !important;
    position: relative;
    width: 100%;
    max-width: 100%;
}
label{
    display: block;
    margin-bottom: 10px;

}
.mceu{
    display: block;

}
.mce-container, .mce-container *, .mce-widget, .mce-widget *, .mce-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: top;
    background: transparent;
    text-decoration: none;
    color: #595959;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    text-shadow: none;
    float: none;
    position: static;
    width: auto;
    height: auto;
    white-space: nowrap;
    cursor: inherit;
    -webkit-tap-highlight-color: transparent;
    line-height: normal;
    font-weight: normal;
    text-align: left;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    direction: ltr;
    max-width: none;
}
#edit-profile .box label {
    font-size: 14px;
    color: #000;
    margin: 0;
    height: 33px;
    vertical-align: middle;
    line-height: 33px;
}
#edit-profile .box .radio{
    margin: 0;
    display: inline-block;
    margin-right: 10px;
}
.radio, .checkbox{
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
#edit-profile .box .radio input {
    top: 7px;
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    position: absolute;
    margin-top: 4px \9;
    margin-left: -20px;
}
input[type="radio"], input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}
#edit-profile .box .heading {
    background: #3275df;
    color: #fff;
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: 600;
    padding: 5.5px 20px;
    text-transform: uppercase;
    margin-bottom: 33px;
}
#edit-profile .box label {
    font-size: 14px;
    color: #000;
    margin: 0;
    height: 33px;
    vertical-align: middle;
    line-height: 33px;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}
#edit-profile textarea:not(.tinymce) {
    width: 100%;
    max-width: 100%;
    padding: 8px 10px;
    font-size: 14px;
    color: #000;
}

/*Button enregistre*/

#edit-profile .save {
    font-size: 16px;
    font-weight: bold;
    padding: 16px 0;
    margin: 26px auto 50px;
    width: 283px;
    display: block;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
/* CONNEXION*/

.top-nav .usermessage
{
  margin-right: 15px;
}
.username
{
  color: #39e70d;
}
a
{
  background-color: transparent;
  text-decoration: none;
  outline: none;
}

/*FOOTER*/

.footer-top
{
    background-color: #3275df;
    margin-bottom: 10px;
    padding: 2px 0;
    text-align: center;
    vertical-align: middle;

}

.line
{
    position: relative;
    bottom: 15px;
}
footer {
    background: #000;
    margin-top: 93px;
    color: #7a7a7a;
    padding-bottom: 10px;
}
.copy
{
    text-align: center;
    font-size: 100;
    color: #fff;

}
/*icon svg*/
.footer-top svg {
    fill: #fff;
    width: 32px;
    height: 32px;
    vertical-align: middle;
}
.col-xs-4 {
    width: 33.33333333%;
}
.footer-top h4 {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    vertical-align: text-bottom;
    display: inline-block;
    position: relative;
    top: 3px;
}