/*GENERAL*/
body
{
    font-family: 'Open sans' , sans-serif;
    font-size: 16px;
    /*color: #333;*/

}
h1, h2, h3, h4, h5, h6, ul, p
{
    margin: 0;
    font-family: inherit;
    line-height: 1.1;
    color: inherit;

}
p
{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-start: 0px;
}
/*Header*/
.navbar
{
    background: #171717;
    font-size: 12px;
    float: none;
    font-size: 14px;
    padding: 4px 0;

}
.top-nav
{
    background: #000;
    color: #919191;
    font-size: 14px;
    padding: 14px 0;
}
.container
{
    position: relative;
    width: 1200px;
    max-height: none !important;
    padding-right: 15px;
    padding-left: 15px;
    padding-right: auto;
    padding-left: auto;
}
*
{
    box-sizing: border-box;
}
div
{
    display: block;
}
.pull-left
{
    float: left !important;
}
.pull-right
{
     float: right !important;
}
.top-nav .btn-primary
{
    background: #286092;
}
.top-nav .btn
{
    font-size: 11px;
    padding: 8px 20px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    line-height: 16px;
}
.btn-tertiary
{
    background: #3275df;
    color: #fff;
}
.btn-secondary
{
    background: #3a3a3a;
    color: #fff;
}

.btn
{
    box-shadow: none;
    text-transform: uppercase;
    border-radius: 5px;
    outline: 0;
    border: 0;
    transition: all 200ms ease;
    letter-spacing: 0.05em;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
}
.container
{
    position: relative;
    width: 1200px;
    max-width: none !important;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.navbar-header
{
    float: left;
}
.navbar .logo img
{
    padding: 20px 0;
    height: 100px;
}
.img-responsive
{
    display: block;
    max-width: 100%;
}
img
{
    vertical-align: middle;
    border: 0;
}
.navbar-nav> li
{
    float: left;
}
.nav>li 
{
    position: relative;
    display: block;
}
.navbar .nav-item:not(:last-child) .nav-link
{
    margin-right: 15px !important;
}
.navbar .nav-item.active .nav-link
{
    background-color: transparent !important;
    position: relative;
}
.navbar .nav-link
{
    color: #fff !important;
    text-transform: uppercase;
    font-weight: 400 !important;
    padding: 0 !important;
}
#navbar
{
    float: right;
    position: relative;
    top: 65px;
    left: -38px;
}
.navbar-default
{
    background-color: #2b2b2b;
    border-color: #2b2b2b;
    border-radius: 0;
}

/* escorte au cameroun*/
.row
{
    margin-right: -15px;
    margin-left: -15px;
}
.col-xs-4 
{
    width: 33.33333333%;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9,.col-xs-10, .col-xs-11, .col-xs-12
{
    padding: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}
.page-heading .page-title
{
    font-family: 'Montserrat';
    color: #fff;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    padding: 12.5px 0;
    margin: 0;
}
.page-heading .date, .page-heading .views
{
    font-family: 'Montserrat';
    font-size: 14px;
    color: #fff;
    padding: 10px 0;
    text-align: right;
    font-weight: 400;
}
.page-heading
{
    background: #3275df;
    position: relative;
    top: -20px;
    z-index: 1;
}
.page-heading .black 
{
    padding: 8px 17.5px;
    font-size: 11px;
    font-family: 'Montserrat';
    font-weight: 400;
}
.btn-black
{
    background: #000;
    color: #fff;
    position: relative;
    right: 800px;
   top: 3.5px;
    border-radius: 0;
}

/* COMMENTAIRES */


#edit-profile
{
    background: #ebebeb;
}
#edit-profile .flex-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.col-xs-6 {
    width: 50%;
}
#edit-profile .flex-row .box {
    height: 100%;
}
#edit-profile .box {
    background: #fff;
    padding: 42px 35px;
}
#edit-profile .box .heading {
    background: #3275df;
    color: #fff;
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: 600;
    padding: 5.5px 20px;
    text-transform: uppercase;
    margin-bottom: 33px;
}
form {
    display: block;
    margin-top: 0em;
}
#edit-profile .box .grp {
    margin-bottom: 15px !important;
}
#edit-profile .p-r-0 {
    padding-right: 0;
}
.col-xs-4 {
    width: 33.33333333%;
}
#edit-profile .box label {
    font-size: 14px;
    color: #000;
    margin: 0;
    height: 33px;
    vertical-align: middle;
    line-height: 33px;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}
#edit-profile .box .grp {
    margin-bottom: 15px !important;
}
.col-xs-5 {
    width: 41.66666667%;
}
#edit-profile .box input:not([type="radio"]):not([type="submit"]):not([type="checkbox"]):not(.yadcf-filter ), #edit-profile .box .bootstrap-select {
    width: 100% !important;
}
#edit-profile .box input:not([type="radio"]):not([type="submit"]):not([type="checkbox"]), #edit-profile .box .bootstrap-select button {
    height: 33px;
    padding-left: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-transform: none;
    border: 1px solid #cacaca;
    background: #fff !important;
    padding-top: 0;
    padding-bottom: 0;
    color: #505050;
}
.col-xs-12 {
    width: 100%;
}
#edit-profile .box .grp {
    margin-bottom: 15px !important;
}
#edit-profile .p-r-0 {
    padding-right: 0;
}
.col-xs-4 {
    width: 33.33333333%;
}
#edit-profile .box .grp {
    margin-bottom: 15px !important;
}
.col-xs-8 {
    width: 66.66666667%;
}
#edit-profile .box .grp {
    margin-bottom: 15px !important;
}

.col-xs-offset-4 {
    margin-left: 33.33333333%;
}
.col-xs-8 {
    width: 66.66666667%;
}
#edit-profile .box small {
    font-size: 12px;
    color: #000;
}
.col-xs-offset-4 {
    margin-left: 33.33333333%;
}

.col-xs-8 {
    width: 66.66666667%;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
.btn-primary {
    background: #3275df;
    color: #fff;
}
.btn {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: 0;
    border: 0;
    color: #fff;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    transition: all 200ms ease;
    letter-spacing: 0.05em;
    padding: 8px 16px;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
#edit-profile .flex-row .box {
    height: 100%;
}
#edit-profile .box {
    background: #fff;
    padding: 42px 35px;
}
#edit-profile .box .heading3 {
    background: #000;
}

#edit-profile .box .heading {
    /* background: #3275df; */
    color: #fff;
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: 600;
    padding: 5.5px 20px;
    text-transform: uppercase;
    margin-bottom: 33px;
}
#edit-profile .box .grp {
    margin-bottom: 15px !important;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

.btn-black {
    background: #000;
    color: #fff;
}
#edit-profile .box .grp {
    margin-bottom: 15px !important;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

.btn-black {
    background: #000;
    color: #fff;
}



/*FOOTER*/

.footer-top
{
    background-color: #3275df;
    margin-bottom: 10px;
    padding: 2px 0;
    text-align: center;
    vertical-align: middle;

}

.line
{
    position: relative;
    bottom: 15px;
}
footer {
    background: #000;
    margin-top: 93px;
    color: #7a7a7a;
    padding-bottom: 10px;
}
.copy
{
    text-align: center;
    font-size: 100;
    color: #fff;

}
/*icon svg*/
.footer-top svg {
    fill: #fff;
    width: 32px;
    height: 32px;
    vertical-align: middle;
}
.col-xs-4 {
    width: 33.33333333%;
}
.footer-top h4 {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    vertical-align: text-bottom;
    display: inline-block;
    position: relative;
    top: 3px;
}